.navigation {
    list-style-position: inside;
    background-color: rgb(245, 231, 207);
    padding: 5px 0;
    border: 2px solid;
}

.navigation__list {
    list-style-type: none;
    list-style-position: inside;
    background-color: rgb(245, 231, 207);
    padding: 5px 0;
}

.navigation__item {
    margin: 2px;
    display: list-item;
}

.navigation__link {
    color: rgb(63, 61, 55);
    text-decoration: none;
}

.navigation__link:hover {
    color: rgb(122, 116, 111);
}